@{
    ViewBag.Title = "Student Registration";
}
<h2 class="text-center text-info">Registration is Now OPEN for the current Academic Year 2017-18 !!!</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Details</h3>
        <ul class="simple">
            <li>Affiliated to <a href="https://www.catamilacademy.org/cta/login.aspx" target="_cta">California Tamil Academy (CTA)</a></li>
            <li>Academic year typically runs from Sept to Jun</li>
            <li>Once a week classes on Sat. from 3:00 to 4:30 pm, approx. 30-32 classes per year</li>
            <li>Our School follows Edison School District Calendar, in particular holiday observances</li>
            <li>Classes conducted at Thomas Jefferson Middle School Edison, NJ</li>
            <li>Admissions accepted on First Come First Served Basis</li>
            <li>Student registration strictly closes by Aug. 31. Registration is now extended till Sep. 20</li>
        </ul>
        <h3>Payment Instructions</h3>
        <ul class="simple">
            <li>ONLY Checks are accepted for Fees</li>
            <li>Make checks payable to <u>Thiruvalluvar Tamil School</u> and memo containing student name(s). One check can be made in multiples of $225 if more than one child is registered from a household</li>
            <li>
                Mail checks to <br />
                Mr. Muthusamy Senthilnathan<br />
                105 Richmond Ct N<br />
                Holmdel, NJ 07733<br />
            </li>
        </ul>
        <p>If you have any question regarding registration, please @Html.ActionLink("Contact Us", "Contact", "Home").</p>
        <h3>Documents</h3>
        <ul class="simple">
            <li><a href="~/docs/pdfs/CTA-School-Waiver-Policy.pdf" target="_docs">Waiver Policy</a></li>
            <li><a href="~/docs/pdfs/CTA-School-Registration-Rules-And-Regulation.pdf" target="_docs">Rules &amp; Regulations</a></li>
            <li><a href="~/docs/pdfs/TTS-GuideLines-Students-2015-2016.pdf" target="_docs">School Guidelines</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Registration Instructions</h3>
        <p>Follow the step by step instructions below to register. Registration can be done only through California Tamil Academy website.</p>
        <h4>Returning Students:</h4>
        <ul class="simple">
            <li>
                Open the url
                <a href="https://www.catamilacademy.org/cta/login.aspx" target="_cta">https://www.catamilacademy.org/cta/login.aspx</a>
                , and login with your user credentials
            </li>
            <li>Click on "Child Registration" from the menu "Parent Access"</li>
            <li>
                Select student name from the drop down list box if registering son/daughter who is already a  student
                <h4>Or</h4>
                Click "New Student Registration" if registering a sibling of an existing student
            </li>
            <li>Fill in all the details, marked *</li>
            <li>Select "Other" for public school city/name and fill in the box on the right side</li>
            <li>Click Submit button and follow the wizard (incl. agreeing/signing to Rules &amp; Regulations, Waiver Policy, etc)</li>
            <li>Send Payments using Payment instructions</li>
        </ul>
        <h4>New Students:</h4>
        <ul class="simple">
            <li>
                Open the url
                <a href="https://www.catamilacademy.org/cta/login.aspx" target="_cta">https://www.catamilacademy.org/cta/login.aspx</a>
                and click the link "Student Registration"
            </li>
            <li>Click "No" for the 2 questions or as appropriate and Click "Continue"</li>
            <li>Fill in the short form including Student/Parents Name and Click "Continue"</li>
            <li>Select "<b>Thiruvalluvar Tamil School, Edison</b>" on school site drop down list in the next screen</li>
            <li>Fill in all the details, marked *</li>
            <li>Select "Other" for public school city/name and fill in the box on the right side</li>
            <li>Click Submit button and follow the wizard (incl. agreeing/signing to Rules &amp; Regulations, Waiver Policy, etc)</li>
            <li>Send Payments using Payment instructions</li>
        </ul>
        <p>P.S. If registering second child, please follow "Returning Parents" instructions</p>
    </div>
</div>
