@{
    ViewBag.Title = "Student Registration";
}
<h2 class="text-center text-info">Registration is Now OPEN for the current Academic Year 2018-19 </h2>
<br />
<div class="row">
    <div class="col-md-9 col-md-offset-3">
        <p class="text-left">
            <span style="color:#007897"><b>TTS Edison</b></span> - Accepting enrollments from ages 3 for all grades upto Grade 7<br />
            <span style="color:#007897"><b>TTS Parsippany</b></span> - Accepting enrollments from ages 3 for all grades upto Grade 2
        </p>
    </div>
</div>
<h3 class="text-center text-info" style="color:red">Enrollments ends on Sun 09/02. </h3>
<div class="row">
    <div class="col-md-6">
        <h3>Registration Instructions</h3>
        <p>Follow the step by step instructions below to register. Registration can be done only through California Tamil Academy website.</p>
        <h4>Returning Students:</h4>
        <ul class="simple">
            <li>
                Open the url
                <a href="https://www.catamilacademy.org/cta/login.aspx" target="_cta">https://www.catamilacademy.org/cta/login.aspx</a>
                , and login with your user credentials
            </li>
            <li>Click on "Child Registration" from the menu "Parent Access"</li>
            <li>
                Select student name from the drop down list box if registering son/daughter who is already a  student
                <h4>Or</h4>
                Click "New Student Registration" if registering a sibling of an existing student
            </li>
            <li>Fill in all the details, marked *</li>
            <li>Select "Other" for public school city/name and fill in the box on the right side</li>
            <li>Click Submit button and follow the wizard (incl. agreeing/signing to Rules &amp; Regulations, Waiver Policy, etc)</li>
            <li>Send Payments using Payment instructions</li>
        </ul>
        <h4>New Students:</h4>
        <ul class="simple">
            <li>
                Open the url
                <a href="https://www.catamilacademy.org/cta/login.aspx" target="_cta">https://www.catamilacademy.org/cta/login.aspx</a>
                and click the link "Student Registration"
            </li>
            <li>Click "No" for the 2 questions or as appropriate and Click "Continue"</li>
            <li>Fill in the short form including Student/Parents Name and Click "Continue"</li>
			<li>Select "<b>Thiruvalluvar Tamil School, Edison</b>" or "<b>Thiruvalluvar Tamil School, Parsippany</b>" on school site drop down list in the next screen
            <li>Fill in all the details, marked *</li>
            <li>Select "Other" for public school city/name and fill in the box on the right side</li>
            <li>Click Submit button and follow the wizard (incl. agreeing/signing to Rules &amp; Regulations, Waiver Policy, etc)</li>
            <li>Send Payments using Payment instructions</li>
        </ul>
        <p>P.S. If registering second child, please follow "Returning Parents" instructions</p>
    </div>
    <div class="col-md-6">
        <h3>Payment Instructions</h3>
        <ul class="simple">
            <li>ONLY Checks/echeck are accepted for Fees</li>
            <li>Make checks payable to <u>Thiruvalluvar Tamil School</u> and memo containing student name(s). One check can be made in multiples of $225 if more than one child is registered from a household</li>
            <li>Send echeck through your bank (Please verify for applicable fees, if any)</li>
            <li>
                For TTS Edison - Mail check to<br/>
                <ul class="simple circle">
                    <li>
                        Mr. Muthusamy Senthilnathan<br/>
                        105 Richmond Ct N<br/>
                        Holmdel, NJ 07733<br/>
                    </li>
                </ul>
            </li>
            <li>
                For TTS Parsippany - Mail check to<br />
                <ul class="simple circle">
                    <li>
                        Mr. Sethumadhvan Gnanavelu<br/>
                        38 Minnehaha Blvd <br/>
                        Lake Hiawatha, NJ 07034<br/>
                    </li>
                </ul>
            </li>
        </ul>
        <p>If you have any question regarding registration, please @Html.ActionLink("Contact Us", "Contact", "Home").</p>
        <h3>Documents</h3>
        <ul class="simple">
            <li>
                <i class="fa fa-file-pdf-o fa-blue" aria-hidden="true"></i>
                <a href="~/docs/pdfs/CTA-School-Waiver-Policy.pdf" target="_docs">Waiver Policy</a>
            </li>
            <li>
                <i class="fa fa-file-pdf-o fa-blue" aria-hidden="true"></i>
                <a href="~/docs/pdfs/CTA-School-Registration-Rules-And-Regulation.pdf" target="_docs">Rules &amp; Regulations</a>
            </li>
        </ul>
    </div>
    
</div>
