@{
    ViewBag.Title = "Student Registration";
//<h2 class="text-center text-info" style="color:red">Enrollment for 2019-20 academic year is now CLOSED.</h2>
}
<br />
<div class="row">
    <div class="col-md-9 col-md-offset-3">
        <p class="text-left">
            <!--
            <span style="color: #007897"><b>TTS Edison</b></span> - Limited enrollment accepted till 10/07.<br />
            <span style="color: #007897"><b>TTS Parsippany - Accepting enrollments from ages 3 for all grades upto Grade 2</b></span>
            -->
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Registration Instructions</h3>
        <p>Follow the step by step instructions below to register. Registration can be done only through California Tamil Academy website.</p>
        <h4>Returning Students:</h4>
        <ul class="simple">
            <li>
                Open the url
                <a href="https://www.catamilacademy.org/cta/login.aspx" target="_cta">https://www.catamilacademy.org/cta/login.aspx</a>
                , and login with your user credentials
            </li>
            <li>Click on "Child Registration" from the menu "Parent Access"</li>
            <li>
                Select student name from the drop down list box if registering son/daughter who is already a  student
                <h4>Or</h4>
                Click "New Student Registration" if registering a sibling of an existing student
            </li>
            <li>Fill in all the details, marked *</li>
            <li>Select "Other" for public school city/name and fill in the box on the right side</li>
            <li>Click Submit button and follow the wizard (incl. agreeing/signing to Rules &amp; Regulations, Waiver Policy, etc)</li>
            <li>Pay the fees $205.00 <b>online</b> using Payment Instructions</li>
        </ul>
        <h4>New Students:</h4>
        <ul class="simple">
            <li>
                Open the url
                <a href="https://www.catamilacademy.org/cta/login.aspx" target="_cta">https://www.catamilacademy.org/cta/login.aspx</a>
                and click the link "Student Registration"
            </li>
            <li>Click "No" for the 2 questions or as appropriate and Click "Continue"</li>
            <li>Fill in the short form including Student/Parents Name and Click "Continue"</li>
            <li>Select "<b>NJ Thiruvalluvar Tamil School, Edison</b>"
            on school site drop down list in the next screen </li>
            <li>Fill in all the details, marked *</li>
            <li>Select "Other" for public school city/name and fill in the box on the right side</li>
            <li>Click Submit button and follow the wizard (incl. agreeing/signing to Rules &amp; Regulations, Waiver Policy, etc)</li>
            <li>Pay the fees $205.00 <b>online</b> using Payment Instructions</li>
        </ul>
        <p>P.S. If registering second child, please follow "Returning Parents" instructions</p>
    </div>
    <div class="col-md-6">
        <h3>Payment Instructions</h3>
        <ul class="simple">
            <li>Note: NO Checks. <b>ONLY ONLINE Payment</b></li>
            <li>Note: <b>Fee is $205 per child for 2021-22</b>, including books</li>
            <li>After completing the registration, you will be redirected to "Payment Details" screen</li>
            <li>Make sure "Credit Card" Option is selected in the "Payment Details" screen and click Submit button</li>
            <li>In the next screen, Fill in all the details including card holder's first and last name, address and Credit Card info</li>
            <li>Click Pay</li>
            <li>When completed, you should see a congratulatory message indicating that your child is successfully registered with a message “Payment Has Been Credited”</li>
            <li>You will receive registration confirmation to your registered email account</li>
        </ul>
        <p>If you have any question regarding registration, please @Html.ActionLink("Contact Us", "Contact", "Home").</p>
        <h3>Documents</h3>
        <ul class="simple">
            <li>
                <i class="fa fa-file-pdf-o fa-blue" aria-hidden="true"></i>
                <a href="~/docs/pdfs/CTA-WaiverPolicy-2021.pdf" target="_docs">Waiver Policy</a>
            </li>
            <li>
                <i class="fa fa-file-pdf-o fa-blue" aria-hidden="true"></i>
                <a href="~/docs/pdfs/CTA-RulesAndRegulation-2021.pdf" target="_docs">Rules &amp; Regulations</a>
            </li>
        </ul>
    </div>
</div>
