<header id="ttsCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-md hidden-sm hidden-xs">
        <li data-target="#ttsCarousel" data-slide-to="0"></li>
        <li data-target="#ttsCarousel" data-slide-to="1"></li>
        <li data-target="#ttsCarousel" data-slide-to="2"></li>
        <li data-target="#ttsCarousel" data-slide-to="3" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item">
            <img src="~/images/banners/banner_01.png" alt="Tamil Quotes">
        </div>
        <div class="item">
            <img src="~/images/banners/banner_02.png" alt="Tamil Quotes">
        </div>
        <div class="item">
            <img src="~/images/banners/banner_03.png" alt="Tamil Quotes">
        </div>
        <div class="item active">
            <img src="~/images/banners/banner_00.png" alt="Flash Messages">
            <div class="carousel-caption">
                <span class="carousel-caption-header">
                    Student registration for 2021-22 is OPEN
                </span>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <!--

    !!! Edison location and Day is changed !!!
    <a class="left carousel-control" href="#ttsCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#ttsCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
    -->
</header>
