<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                <br />
                <br />
            </div>
        </div>
    </div>
</footer>