<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>திருவள்ளுவர் தமிழ்ப்பள்ளி. எழுத்துரிமை &copy; @DateTime.Now.Year. முழுப் பதிப்புரிமை உடையது.</p>
            </div>
        </div>
    </div>
</footer>