<header>
    <div class="jumbotron text-center">
        <h2>சேர்ந்து வளர்ப்போம் செந்தமிழ்ப்  பயிரை !!!</h2>
        <span class="text-info text-bigandbold">
            அகரம் முதலாம் தமிழெனுந்  தேன்  <br />
            அடுத்த தலைமுறைக் கதுகொண்டு சேர்
        </span>
    </div>
</header>
