@{
    ViewBag.Title = "Graduation 2021";
}

<br />

<div class="row">
    <div class="col-md-12">
        <h3>2021 Graduation</h3>
    </div>
</div>

<br />
<br />

<!--
<div class="row">
    <div class="col-md-12">
        YouTube URL:  <a href="https://www.youtube.com/watch?v=z8DMivr-eGI" target="_blank">https://www.youtube.com/watch?v=z8DMivr-eGI</a>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
         <iframe width="640" height="360" src="https://www.youtube.com/embed/z8DMivr-eGI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen>
         </iframe>
    </div>
    <div class="col-md-2">
    </div>
</div>
<br/><br/>
-->


<div class="row">
    <div class="col-md-6">
        <img src="~/images/2021/2020_21-GraduationDay.jpg" width="100%" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Date & Time:</h4>
                Sun Jun 10, 2021; Time: 10:30 AM
                <br />
            </div>
            <div class="col-md-12">
                <h4>Venue:</h4>
                <a href="http://www.jerseytamilacademy.org/events/graduation2021">
                    http://www.jerseytamilacademy.org/events/graduation2021
                </a>
                <br />
            </div>
        </div>
    </div>
</div>
