@{
    ViewBag.Title = "Graduation 2022-23";
}

<br />

<div class="row">
    <div class="col-md-12">
        <h3>2022-23 Graduation</h3>
    </div>
</div>

<br />
<br />



<div class="row">
    <div class="col-md-6">
        <img src="~/images/2022-23/2023_Graduation_Day.jpg" width="100%" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Date & Time:</h4>
                Sun Jun 18, 2021; Time: 9 AM
                <br />
            </div>
        </div>
    </div>
</div>
