
@{
    ViewBag.Title = "Edison School";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>

<br/><br />

<div class="col-lg-12">
    <ul id="edisonTab" class="nav nav-tabs">
        <li class="active">
            <a href="#calendar" data-toggle="tab">Calendar</a>
        </li>
    </ul>
    <div id="edisonTabContent" class="tab-content">
        <div class="tab-pane fade active" id="calendar">
            <br/>
        </div>
        <div class="tab-pane fade" id="location">
            <br />
        </div>
    </div>
</div>


