
@{
    ViewBag.Title = "Edison School";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>

<br/><br />

<div class="col-lg-12">
    <ul id="edisonTab" class="nav nav-tabs">
        <li class="active">
            <a href="#calendar" data-toggle="tab"><i class="fa fa-tree"></i> Calendar</a>
        </li>
    </ul>

    <div id="edisonTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="calendar">
            <br/>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="warning">
                            <th>Week #</th>
                            <th>Date (Sat)</th>
                            <th>Special Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td colspan="3" class="text-center"><b>Term 1 Begins</b></td>
                        </tr>
                        <tr class="danger">
                            <td>1</td>
                            <td>9-Sep-17</td>
                            <td>First Day of School</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>16-Sep-17</td>
                            <td></td>
                        </tr>
                        <tr class="info">
                            <td></td>
                            <td>23-Sep-17</td>
                            <td>Holiday - Long Weekend</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>30-Sep-17</td>
                            <td>Parent-Teacher Group Meeting</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>7-Oct-17</td>
                            <td>Test #1</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>14-Oct-17</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>21-Oct-17</td>
                            <td>Deepavali Celebration</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>28-Oct-17</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>4-Nov-17</td>
                            <td>Test #2</td>
                        </tr>
                        <tr class="info">
                            <td></td>
                            <td>11-Nov-17</td>
                            <td>Holiday - Veterans Day</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>18-Nov-17</td>
                            <td></td>
                        </tr>
                        <tr class="info">
                            <td></td>
                            <td>25-Nov-17</td>
                            <td>Holiday - Thanksgiving</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2-Dec-17</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>9-Dec-17</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>16-Dec-17</td>
                            <td>Test #3 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="">
           
        </div>

    </div>
</div>


