@{
    ViewBag.Title = "Student Guidelines";
}

<h2>@ViewBag.Title 2017-18</h2>
<br />

<div class="row">
    <div class="col-md-6">
        <h4>General</h4><br/>
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                School is conducted once a week, during the week ends. See calendar for exact dates
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Classes will start and end on time
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Students should be dropped off in their assigned class rooms with the teachers
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-warning fa-lg fa-gold" aria-hidden="true"></i>
                Students can NOT be in class rooms without an adult supervision. If the teacher is not in the class room, the parent arriving to the class room first should stay with child(ren) until teacher comes in
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Students should be picked up (only) from the class room on time, within 5 min after the scheduled class hours
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Parents should discuss with their child’s teachers outside the school premises at the individual teachers
                convenience (in person/phone/email), should they have any questions or need more info
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Parents should park their vehicles in the parking lot
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-warning fa-lg fa-gold" aria-hidden="true"></i>
                Students are required to be on time and punctual for the class. Delay of 10 minutes to class is 1 Tardy and 3 Tardy will be 1 Absent
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Student absence should be informed by email or phone or whatsapp to the class teachers. Longer than 2 continuous absences should be pre-approved by the teacher
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-warning fa-lg fa-gold" aria-hidden="true"></i>
                Missed tests can be made up only once, typically in the next class. Note, there are only 6 tests &amp; 2 projects for the year
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-times-circle fa-lg fa-red" aria-hidden="true"></i>
                NO makeup classes for missed ones. Parents are responsible to prepare their child on missed lesson(s)
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-times-circle fa-lg fa-red" aria-hidden="true"></i>
                NO replacement for the lost text books supplied to the kids or their own personal items
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-times-circle fa-lg fa-red" aria-hidden="true"></i>
                NO phones or gadgets allowed during the class and should be POWERED OFF
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-times-circle fa-lg fa-red" aria-hidden="true"></i>
                Absolutely NO food or drinks or gum is allowed in the class rooms. Students can use water fountains
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-times-circle fa-lg fa-red" aria-hidden="true"></i>
                NO Break Time during the class hours. Encourage the children to use rest rooms before the classes start
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-times-circle fa-lg fa-red" aria-hidden="true"></i>
                Students should always have text &amp; note books and 2 pencils, eraser with them in the class
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Attendance and Performance in class &amp; tests strictly determine promotion to next grade, at the end of year
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Email is our preferred communication medium. Update actively used email address in the CTA system (<a href="https://catamilacademy.org" target="_blank">https://catamilacademy.org</a>). Use Profile > Modify My Profile to add/update email addresses
            </li>
            <li class="list-group-item">
                <i class="fa fa fa-warning fa-lg fa-gold" aria-hidden="true"></i>
                Respond without fail for the queries emailed/discussed by teachers
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Parents will be notified (emailed) if there will be any changes to the class schedules
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Check our website (<a href="http://www.jerseytamilacademy.org" target="_blank">http://www.jerseytamilacademy.org</a>) and/or your email before heading out to school on inclement weather days
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Parents are requested to spend time (at least 15 to 30 min per day) reviewing lessons and practicing conversational Tamil at home
            </li>
            <li class="list-group-item">
                <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                Feedback is always welcome
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Branch specific</h4><br />
        <ul class="nav nav-tabs nav-bluetabs">
            <li class="active"><a data-toggle="tab" href="#edison">Edison</a></li>
            <li class=""><a data-toggle="tab" href="#parsippany">Parsippany</a></li>
        </ul>
        <br/>
        <div class="tab-content">
            <div id="edison" class="tab-pane fade in active">
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                        Classes will be on Sat, starting at 3.00 pm and ending at 4:30 pm. School building opens at 2:45 pm
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa fa-warning fa-lg fa-gold" aria-hidden="true"></i>
                        It is very important that kids are picked up on time after the classes as the building will be locked at 4:45 pm
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                        Parents should use the parking lot across the school, crossing Division St. Please walk your children to class room. No parking or waiting in front of the school entrance. For childrens’ safety, traffic cones will be placed to block the traffic in front of school
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                        Parking lot to the side of the entrance is reserved for teachers
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa fa-warning fa-lg fa-gold" aria-hidden="true"></i>
                        Parents should directly reach “Lost & Found” section of TJMS school during Mon – Fri to recover lost items, if any
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa fa-times-circle fa-lg fa-red" aria-hidden="true"></i>
                        Instruct the kids strictly NOT to explore and disturb anything in the class room if not theirs and restrict themselves to their seats.
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa fa-times-circle fa-lg fa-red" aria-hidden="true"></i>
                        Smart boards are not for writing. If written (even accidental), the entire class will be asked to share replacing cost of the  board, typically about $1200+
                    </li>
                </ul>
            </div>
            <div id="parsippany" class="tab-pane fade">
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="fa fa-info-circle fa-lg fa-blue" aria-hidden="true"></i>
                        Classes will be on Sun, starting at 2.00 pm and ending at 3:30 pm. Building opens at 1:45 pm
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa fa-warning fa-lg fa-gold" aria-hidden="true"></i>
                        It is very important that kids are picked up on time as the building will be locked at 3:45 pm
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>