@{
    ViewBag.Title = "Student Guidelines";
}

<h2>@ViewBag.Title  – 2017-18</h2>
<br />

<div class="row">
    <div class="col-md-8">
        <ol class="text-left">
            <li>School is conducted once a week, on Saturdays</li>
            <li>Classes will start at 3.00 pm and end at 4:30 pm. School building opens at 2:45 pm</li>
            <li>Students should be dropped off in their assigned class rooms with the teachers</li>
            <li>Students can NOT be in class rooms without an adult supervision. If the teacher is not in the class room, the parent arriving to the class room first should stay with child(ren) until teacher comes in</li>
            <li>Students should be picked up (only) from the class room on time, within 5 min after the scheduled class hours. It is very important that kids are picked up on time as the building will be locked at 4:45 pm.</li>
            <li>Parents should discuss with their child’s teachers outside the school premises at the individual teachers convenience (in person/phone/email), should they have any questions or need more info</li>
            <li>Parents should park their vehicles in the parking lot across the school, crossing Division St. Please walk your children to class room. No parking or waiting in front of the school entrance. For childrens’ safety, traffic cones will be placed to block the traffic in front of school</li>
            <li>Parking lot to the side of the entrance is reserved for teachers</li>
            <li>Students are required to be on time and punctual for the class. Delay of 10 minutes to class is 1 Tardy and 3 Tardy will be 1 Absent</li>
            <li>Student absence should be informed by email or phone to the class teachers. Longer than 2 continuous absences should be pre-approved by the teacher</li>
            <li>Missed tests can be made up only once, typically in the next class. Note, there are only 6 tests & 2 projects for the year</li>
            <li>NO makeup classes for missed ones. Parents are responsible to prepare their child on missed lesson(s)</li>
            <li>NO replacement for the lost books / DVDs supplied to the kids or their own personal items. If lost any, parents should directly reach “Lost & Found” section of TJMS school during Mon - Fri</li>
            <li>NO phones or gadgets allowed during the class and should be POWERED OFF</li>
            <li>Absolutely NO food or drinks or gum is allowed in the class rooms. Students can use water fountains</li>
            <li>NO Break Time during the class hours. Encourage the children to use rest rooms before the classes start</li>
            <li>Instruct the kids strictly NOT to explore and disturb anything in the class room if not theirs and restrict themselves to their seats. Smart boards are not for writing</li>
            <li>Students should always have text & note books and 2 pencils, eraser with them in the class</li>
            <li>Attendance & Performance in class & tests strictly determine promotion to next grade, at the end of year</li>
            <li>Update the actively used email address in CTA website since email is our preferred communication medium</li>
            <li>Respond without fail for the queries emailed/discussed by teachers</li>
            <li>Parents will be notified (emailed) if there will be any changes to the class schedules. School closures because of inclement weather would follow that of Edison School District</li>
            <li>*** Check your email before heading out to school ***</li>
            <li>Parents are requested to spend time (at least 30min to an hour per week) reviewing lessons and practicing conversational Tamil at home</li>
            <li>Feedback is always welcome</li>
        </ol>
    </div>
</div>
