<?xml version="1.0"?>
<rewriteMaps>
    <rewriteMap name="ShortUrls">
		<add key="/zoom" value="https://us02web.zoom.us/j/3879823360?pwd=WjNxc09DUGhHRTdPK054R2VvcHBQQT09" />
        <add key="/live" value="https://www.youtube.com/channel/UCNTAyRT9Z3KhIFY_79l5pCQ/live" />
    </rewriteMap>
</rewriteMaps>
