<div class="row">
    <div class="col-md-5">
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/phone.png" alt="Phone" class="small-icon" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Phone</h4>
                        <a href="tel:+17326594125">(732) 659-4125</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/email.png" alt="Email" class="small-icon" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Email</h4>
                        <a href="mailto:tamilschool.edison@gmail.com">tamilschool.edison@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/schedule.svg" alt="Schedule" class="small-icon" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Schedule</h4>
                        Every <span style="color: red"><b>Sunday</b></span> 3:00 PM - 4:30 PM
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/location.jpg" alt="Location" class="small-icon" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Location</h4>
                        J.P. Stevens High School<br />
                        855 Grove Ave,<br />
                        Edison, NJ 08820
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <p class="text-justify">
            Though email is preferable, you can reach us in either of the ways. Please leave us a voice mail in case we are unable to respond and one of the team member will get back to you.
        </p>
    </div>
    <div class="col-md-7">
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12121.00217492554!2d-74.3613634!3d40.5802248!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9dc8ff5cf26f9e9b!2sJ.P.+Stevens+High+School!5e0!3m2!1sen!2sus!4v1537721034940" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
