<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>ஆண்டு விழா - 2023</h3>
    </div>

    
    <div class="col-md-6">
        <a href="~/events/annualday">
            <img src="~/images/2022-23/2023_AnnualDay_Flyer.png" width="100%" />
        </a>
    </div>
    
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                எடிசன் திருவள்ளுவர் தமிழ்ப் பள்ளியின் 13-வது ஆண்டு விழா.
                <br /><br /><br />
            </div>
            <div class="col-md-12">
                <b>நாள்:</b>
                மே மாதம் 7-ஆம் தேதி, ஞாயிற்றுக்கிழமை
                <br />
                <b>நேரம்:</b>
                காலை 9 மணி முதல் மாலை 7 மணி வரை
                <br />
                <b>இடம்:</b>
                JP Stevens High School<br />
                855 Grove Ave, Edison, NJ 08820
                <br /><br /><br />
            </div>
            <div class="col-md-12">
                <p>
                    தம் தமிழ்த் திறன்களை கலை வடிவில் மேடையேற்றும் பள்ளி மாணவர்களை ஊக்குவித்து, உற்சாகப் படுத்த அனைவரையும் அன்புடன் அழைக்கிறோம்.
                </p>
            </div>
           
        </div>
    </div>
</div>