<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>2021 Graduation</h3>
    </div>

    <div class="col-md-6">
        <img src="~/images/2021/2020_21-GraduationDay.jpg" width="100%" />
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Date & Time:</h4>
                Sun Jun 10, 2021; Time: 10:30 AM
                <br />
            </div>
            <div class="col-md-12">
                <h4>Venue:</h4>
                <a href="http://www.jerseytamilacademy.org/events/graduation2021">
                    http://www.jerseytamilacademy.org/events/graduation2021
                </a>
                <br />
            </div>
        </div>
    </div>
</div>