<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>2022 Kids Contest</h3>
    </div>
     <div class="col-md-12">
        <h4>Watch Live Now <a href="/live" target="_event">YouTube</a></h4>
    </div>
    <div class="col-md-6">
       <img src="~/images/2022/2022_KidsContest_Flyer.jpg" width="100%"/>
    </div>
    
    <div class="col-md-6">
        <div class="row">
            
            <div class="col-md-12">
                <h4>Date & Time:</h4>
                Sat Mar 12, 2022; Time: 9:30 AM EST
                <br />
            </div>
            <div class="col-md-12">
                <h4>Venue:</h4>
                Online<br />
            </div>
            <div class="col-md-12">
                <h4>Instructions:</h4>
                <ul>
                    <li>To Register - <a href="https://forms.gle/WUkdggFpP4NnXach6" target="_blank">Registration Form </a></li>
                    <li>Last date to enroll: March 2nd 2022</li>
                </ul>
            </div>
            
            <div class="col-md-12">
                <br />
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr class="warning">
                            <th>Level</th>
                            <th>Ages</th>
                            <th>Program</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>3-4</td>
                            <td>Tamil Translation</td>
                            <td>
                                <a href="~/docs/pdfs/2022.KidsContest/TTS_2022_KidsContest_Level1_Age3-4_TamilTranslation.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>5-6</td>
                            <td>Kural Recital</td>
                            <td>
                                <a href="~/docs/pdfs/2022.KidsContest/TTS_2022_KidsContest_Level2_Age5-6_KuralRecital.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>7-8</td>
                            <td>Kural Recital with Meaning</td>
                            <td>
                                <a href="~/docs/pdfs/2022.KidsContest/TTS_2022_KidsContest_Level3_Age7-8_KuralRecitalWithMeaning.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>9-10</td>
                            <td>Poem Recital</td>
                            <td>
                                <a href="~/docs/pdfs/2022.KidsContest/TTS_2022_KidsContest_Level4_Age9-10_PoemRecital.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>11-12</td>
                            <td>Pros & Cons - Speech</td>
                            <td>
                                <a href="~/docs/pdfs/2022.KidsContest/TTS_2022_KidsContest_Level5_Age11-12_ProsConsSpeech.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>13+</td>
                            <td>Elocution</td>
                            <td>
                                <a href="~/docs/pdfs/2022.KidsContest/TTS_2022_KidsContest_Level6_Age13_Elocution.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>10+</td>
                            <td>Essay Competition</td>
                            <td>
                                <a href="~/docs/pdfs/2022.KidsContest/TTS_2022_KidsContest_Level7_Age10_EssayWriting.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>10-15</td>
                            <td>Poem Writing</td>
                            <td>
                                <a href="~/docs/pdfs/2022.KidsContest/TTS_2022_KidsContest_Level8_Age10-15_PoemWriting.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>