<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>2020 Kids Contest</h3>
    </div>
	<!--
    <div class="col-md-6">
        <img src="~/images/events/2019_Kids-Competition_01.jpeg" width="100%"/>
    </div>
	-->
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Venue:</h4>
                To be announced soon.
				<br />
            </div>
			<!--
            <div class="col-md-12">
                <h4>Instructions:</h4>
                <ul>
                    <li>To Register - <a href="https://goo.gl/forms/L6OTeHmOUhcUFo1I2" target="_blank">https://goo.gl/forms/L6OTeHmOUhcUFo1I2 </a></li>
                    <li>Last date of enrollment: 02/09/2019</li>
                </ul>
            </div>
			-->
            <div class="col-md-12">
                <br />
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr class="warning">
                            <th>Level</th>
                            <th>Ages</th>
                            <th>Program</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>3</td>
                            <td>Fancy Dress</td>
                            <td>
                                <a href="~/docs/pdfs/2020.KidsContest/TTS_2020_KidsContest_Level1_Age3_Fancydress.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
						<tr>
                            <td>2</td>
                            <td>4</td>
                            <td>Show And Tell</td>
                            <td>
                                <a href="~/docs/pdfs/2020.KidsContest/TTS_2020_KidsContest_Level2_Age4_ShowAndTell.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>5-6</td>
                            <td>Kural Recital</td>
                            <td>
                                <a href="~/docs/pdfs/2020.KidsContest/TTS_2020_KidsContest_Level3_Ages5-6_KuralRecital.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>7-8</td>
                            <td>Kural Recital with Meaning</td>
                            <td>
                                <a href="~/docs/pdfs/2020.KidsContest/TTS_2020_KidsContest_Level4_Ages7-8_KuralRecitalWithMeaning.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>9-10td>
                            <td>Kural Game</td>
                            <td>
                                <a href="~/docs/pdfs/2020.KidsContest/TTS_2020_KidsContest_Level5_Ages9-10_KuralGame.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>11-12</td>
                            <td>Pros & Cons - Speech</td>
                            <td>
                                <a href="~/docs/pdfs/2020.KidsContest/TTS_2020_KidsContest_Level6_Age11-12_ProsConsSpeech.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>13</td>
                            <td>Poem Recital</td>
                            <td>
                                <a href="~/docs/pdfs/2020.KidsContest/TTS_2020_KidsContest_Level7_Ages13_PoemRecital.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>14-16</td>
                            <td>Impromptu Speech</td>
                            <td>
                                <a href="~/docs/pdfs/2020.KidsContest/TTS_2020_KidsContest_Level8_Ages14-16_ImpromptuSpeech.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>