
<div class="row">
    <div class="col-md-12">
        <h2>2025 Kids Contest</h2>
    </div>
    <div class="col-md-6">
       <img src="~/images/2024-25/2025-TTS-KidsContest-Flyer.jpg" width="100%"/>
    </div>
    
    <div class="col-md-6">
        <div class="row">
            
            <div class="col-md-12">
                <h4>Date & Time:</h4>
                Saturday Mar 22 2025; Time: 9:30 AM EST
                <br />
            </div>
            <div class="col-md-12">
                <h4>Venue:</h4>
                <b>Edison Emergency Medical Services</b><br />
                <a href="https://maps.app.goo.gl/11mrhfrTgNYm1dKx5" target="_blank">848 New Dover Rd, Edison, NJ 08820</a>
            </div>
            <div class="col-md-12">
                <h4>Instructions:</h4>
                <ul>
                    <li>To Register - <a href="https://forms.gle/EokonGxKkQyFfcj99" target="_blank">Registration Form</a></li>
                    <li>Last date to enroll: Saturday Mar 18, 2025</li>
                </ul>
            </div>
            
            <div class="col-md-12">
                <br />
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr class="warning">
                            <th>Level</th>
                            <th>Ages</th>
                            <th>Program</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>3</td>
                            <td>Fancy Dress Competition</td>
                            <td>
                                <a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-1_Ages3_FancyDress.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
			    <td>2</td>
			    <td>4</td>
			    <td>Rhymes</td>
			    <td>
				<a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-2_Ages4_TamilRhymes.pdf" target="_instructions">
				    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
				    Instructions
				</a>
			    </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>5-6</td>
                            <td>Kural Recital</td>
                            <td>
                                <a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-3_Ages5-6_KuralRecital.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>7-8</td>
                            <td>Kural Recital with Meaning</td>
                            <td>
                                <a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-4_Ages7-8_KuralRecitalWithMeaning.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>9-10</td>
                            <td>Poem Recital</td>
                            <td>
                                <a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-5_Ages9-10_PoemRecital.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>11-12</td>
                            <td>Elocution</td>
                            <td>
                                <a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-6_Ages-11-12_Elocution.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>13+</td>
                            <td>Pros and Cons Speech</td>
                            <td>
                                <a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-7_Ages-13_Above_ProsConsSpeech.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>10-15</td>
                            <td>Poem Writing</td>
                            <td>
                                <a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-8_Age10-15_PoemWriting.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>10+</td>
                            <td>Essay Writing</td>
                            <td>
                                <a href="~/docs/pdfs/2025.KidsContest/TTS_2025_KidsContest_Level-9_Ages10_Above_EssayWriting.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
