<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>ஆண்டு விழா மற்றும் பட்டமளிப்பு விழா - 2022</h3>
    </div>

    
    <div class="col-md-6">
        <a href="~/events/annualday">
            <img src="~/images/2022/2022_AnnualDay.jpg" width="100%" />
        </a>
    </div>
    
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                எடிசன் திருவள்ளுவர் தமிழ்ப் பள்ளியின் 12-வது ஆண்டு விழா மற்றும் பட்டமளிப்பு விழா, இரண்டாண்டுகளுக்குப் பிறகு நேரடி நிகழ்ச்சியாக நடத்த ஏற்பாடு செய்யப்பட்டு உள்ளது.
                <br /><br /><br />
            </div>
            <div class="col-md-12">
                <b>நாள்:</b>
                சூன் மாதம் 12-ஆம் தேதி, ஞாயிற்றுக்கிழமை
                <br />
                <b>நேரம்:</b>
                காலை 9:30 மணி (EDT) முதல்
                <br />
                <b>இடம்:</b>
                JP Stevens High School<br />
                855 Grove Ave, Edison, NJ 08820
                <br /><br /><br />
            </div>
            <div class="col-md-12">
                <p>
                    2021-22 கல்வி ஆண்டில், இறுதி நிலை வகுப்பில் தேர்ச்சி பெற்று, பட்டம் பெறும் 21 மாணவர்களின் பட்டமளிப்பு விழா நடைபெற உள்ளது. உதவிப் பேராசிரியர் திரு. டைலர் ரிச்சர்ட் (Assistant Professor of Instruction in Tamil & Sanskrit, Univ of Texas at Austin) அவர்கள் சிறப்பு விருந்தினராகக் கலந்து கொண்டு, மாணவர்களுக்குப் பட்டம் வழங்கி, சிறப்புரையாற்றுகிறார். <br />
                    ஆண்டு விழாவில், மாணவர்கள் தம் தமிழ்த் திறன்களை பாடல், நடனம், கதை, கவிதை, நாடக வடிவில், பல்வேறு கலை நிகழ்ச்சிகளாக அரங்கேற்ற உள்ளார்கள்.<br />
                    மாணவர்களை உற்சாகப் படுத்தி, பாராட்ட உங்களனைவரையும்  அன்புடன் அழைக்கிறோம்.
                </p>
            </div>
           
        </div>
    </div>
</div>