<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>2021 Kids Contest</h3>
    </div>

    
    <div class="col-md-6">
       <img src="~/images/2021/2021_20-StudentContestFlyer.jpg" width="100%"/>
    </div>
    
    <div class="col-md-6">
        <div class="row">
            
            <div class="col-md-12">
                <h4>Date & Time:</h4>
                Sun Feb 14, 2021; Time: 10:00 am to 5:00 pm
                <br />
            </div>
            <div class="col-md-12">
                <h4>Venue:</h4>
                Online<br />
            </div>
            <div class="col-md-12">
                <h4>Instructions:</h4>
                <ul>
                    <li>To Register - <a href="https://forms.gle/T4rS78v4Vsw9RP2u7" target="_blank">Registration Form </a></li>
                    <li>Last date to enroll: 01/31/2021 9 PM EST</li>
                </ul>
            </div>
            
            <div class="col-md-12">
                <br />
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr class="warning">
                            <th>Level</th>
                            <th>Ages</th>
                            <th>Program</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>3-4</td>
                            <td>Show And Tell</td>
                            <td>
                                <a href="~/docs/pdfs/2021.KidsContest/TTS_2021_KidsContest_Level1_Age3-4_ShowAndTell.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>5-6</td>
                            <td>Kural Recital</td>
                            <td>
                                <a href="~/docs/pdfs/2021.KidsContest/TTS_2021_KidsContest_Level2_Age5-6_KuralRecital.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>7-8</td>
                            <td>Kural Recital with Meaning</td>
                            <td>
                                <a href="~/docs/pdfs/2021.KidsContest/TTS_2021_KidsContest_Level3_Age7-8_KuralRecitalWithMeaning.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>9-10</td>
                            <td>Poem Recital</td>
                            <td>
                                <a href="~/docs/pdfs/2021.KidsContest/TTS_2021_KidsContest_Level4_Age9-10_PoemRecital.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>11-12</td>
                            <td>Pros & Cons - Speech</td>
                            <td>
                                <a href="~/docs/pdfs/2021.KidsContest/TTS_2021_KidsContest_Level5_Age11-12_ProsConsSpeech.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>13+</td>
                            <td>Elocution</td>
                            <td>
                                <a href="~/docs/pdfs/2021.KidsContest/TTS_2021_KidsContest_Level6_Age13_Elocution.pdf" target="_instructions">
                                    <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                                    Instructions
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>