@{
    ViewBag.Title = "About Us";
}

@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="~/Scripts/growthChart.js"></script>
}

<h2>About Us</h2>
<br />
<div class="row">
    <div class="col-md-4">
        <h3>Status</h3>
        <img src="~/images/nonprofit.jpg" class="small-icon pull-left img-responsive" />
        <p>
            Our Thiruvalluvar Tamil School Inc, is a Non-Profit Organization, registered in the state of New Jersey and also Federal Tax Exempt under 501(c)3 with IRS.
        </p>
        <h3>Affiliation</h3>
        <img src="~/images/ita_logo.png" class="small-icon pull-right img-responsive" />
        <p class="text-justify">
            Our Tamil school is affiliated with <b>California Tamil Academy</b> (CTA) using their Structured Methodology and Proven Teaching Materials. California Tamil Academy founded to teach Tamil language and Tamil culture to diaspora Tamil children in California in the year 2000 is now spread all over the world and operate as <b>International Tamil Academy</b>
        </p>
    </div>

    <div class="col-md-4">
        <h3>History</h3>
        <img src="~/images/school_tree.png" class="med-icon pull-left img-responsive img-circle" />
        <p class="text-justify">
            Teaching Tamil to children was started in Edison, NJ in the year 2010 with about 65 kids and 12 volunteers. Our school is the first ever graded Tamil school in New Jersey to follow pre-defined lesson syllabus. The growing number of students each academic year helped us streamline our teaching methodologies and learning process. With the enthusiastic support of Tamil loving people (mostly parents of our school) as volunteers, we are able to run school with the academic efforts meeting the Tamil needs of the community.
        </p>
        
    </div>

    <div class="col-md-4">
        <h3>Nondiscrimination Policy</h3>
        <img src="~/images/non-discrimination-policy.png" class="med-icon pull-left img-responsive img-circle" />
        <p class="text-justify">
            Our school’s admits students of any race, color, national origin, and ethnic origin to all the rights, privileges, programs, and activities generally accorded or made available to students at school. It does not discriminate on the basis of race, color, national origin, and ethnic origin in administration of its educational policies, admission policies, scholarships and loan programs, and athletic and other school administered programs.
        </p>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <h3>Features</h3>
        <ul class="simple circle">
            <li>Classes held in rented Edison Public School providing school like and safe environment</li>
            <li>Once a week classes on Sat. from 3:00 to 4:30 pm, approx. 30-32 classes per year</li>
            <li>
                Students are grouped based on Prior Knowledge, Age and Skill
                <ul class="simple none">
                    <li>Preschool 1 & 2 (Ages 3 & 4) - should be potty trained</li>
                    <li>Basic 1 & 2 (Ages 5 & up)</li>
                    <li>Advanced Basic (Ages 7 & up - Freshman)</li>
                    <li>Grade 1 to 7 (Ages 7 & up)</li>
                </ul>
            </li>
            <li>Maximum of 15 students in a class room with a Student/Teacher ratio of 5:1 to 7:1. Preschool will be 5:1</li>
            <li>Nominal fee that covers Text/Exercise/Story/Hand Writing Books. Students in advanced level will pay additional for the 2nd of set of books</li>
            <li>Students learn Tamil through interactive games, stories, songs and hands on activities in a fun way</li>
            <li>Web based Parent Dashboard for monitoring students’ progress and reports</li>
            <li>Managed by experienced & enthusiastic parent volunteers as teachers</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Special Events</h3>
        <p>
            All students will get to participate in the annual cultural program that is conducted at the end of every academic year. On stage performance of the children based on their interest in drama, recital, dance, etc. exhibiting the skills is well received and liked by the Tamil community in and around Edison.<br /><br />
            We also hold an annual oratory competition for our school children appreciating their Tamil knowledge and promoting soft skills. First 3 place winners are awarded prizes in different categories. The topics and titles grade from easy to difficult for younger to older kids. The intensity of the competition increases year after year.<br /><br />
            In addition, our Tamil school kids are invited to perform in front of huge audiences for the local competition and talent shows.<br /><br />
            We are proud to say our school children are given opportunity to gain the necessary skills not only in our language but also in the leadership and policy making areas as well. Few high school students will be selected every year to participate in the United Nation’s annual commemoration of International Day of Peace at the UN Headquarters in New York, NY that they will hear presentations from the Secretary-General and interact with UN Messengers of Peace, Goodwill Ambassadors and young leaders that aim to inspire youth to become more involved in creating a more peaceful world for all.
        </p>
    </div>

    <div class="col-md-12">
        <h3>School Growth</h3>
    </div>
    <div class="col-md-6">
        <div id="schoolStudentGrowth"></div>
    </div>
</div>