@{
    ViewBag.Title = "Calendar";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="col-lg-12">
    <ul id="calendarTab" class="nav nav-tabs nav-bluetabs">
        <li class="active">
            <a href="#edison" data-toggle="tab">Edison</a>
        </li>
        <li class="">
            <a href="#parsippany" data-toggle="tab">Parsippany</a>
        </li>
    </ul>

    <div id="calendarTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="edison">
            @Html.Partial("_Calendar.Edison")
        </div>
        <div class="tab-pane fade" id="parsippany">
            
        </div>
    </div>
</div>