@{
    ViewBag.Title = "Contact Us - Parsippany";
}

<h2>@ViewBag.Title</h2>
<br />
<ul class="nav nav-tabs nav-bluetabs">
    <li><a href="@Url.Action("Contact", "Home", new { id = "Edison" })">Edison</a></li>
    <li class="active"><a href="">Parsippany</a></li>
</ul>

@Html.Partial("_Contact.Edison")