@{
    ViewBag.Title = "Home Page";
}
<br />

@Html.Partial("_Carousel")

<br />
<br />

@*
    <div class="row">
        <div class="col-md-12">
            <img src="" alt="" style="width:100%; height:100%" />
        </div>
    </div>
*@


<div class="row">
    <div class="col-md-4">
        <h2>Mission</h2>
        <img src="~/images/misson.png" class="med-icon pull-left img-responsive" />
        <p class="text-justify">
            Thiruvalluvar Tamil School was founded to create an interesting educational platform for children and young adults living in the Garden State of New Jersey to love and learn about Tamil - an ancient South Asian Language that has a great history & rich literature and the longest surviving traditional Culture. The students will learn to Read, Write and Converse the language through fun activities and games. With the help of the language, they will understand better and follow the culture by participating in dance, drama, music and any art form.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <img src="~/images/vision.jpeg" class="med-icon pull-left img-responsive img-circle" />
        <p class="text-justify">
            Making our children in USA to love and continue practicing Tamil, language and culture in their lives to get the best of both the eastern and western worlds and take pride in their heritage.<br />
            It’s quite ambitious to have our next generation to set the same goals passing on the fire of learning Tamil to their next generation and so on there by reviving Tamil.
        </p>
        <p class="text-left">
            அகரம் முதலாம் தமிழெனுந் தேன்<br />
            அடுத்த தலைமுறைக் கதுகொண்டு சேர்<br />
        </p>
    </div>
    <div class="col-md-4">
        @Html.Partial("_Index.NoticeBoard")
    </div>
</div>

@*
    <div class="row">
        <div class="col-md-12">
            <h3>2020 -21 Academic Year Admission Now Open</h3>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <br /><br />
            <img src="~/images/2021/2020_21-enrollment.png" width="100%" />
        </div>
    </div>
*@

<br />
<br />
<br />

@*
    <!--
    <div class="row">
        <div class="col-md-4">
            <h2>Events</h2>
        </div>
        <div class="col-md-4">
            <h2>Events</h2>
        </div>
        <div class="col-md-4">
            <h2>Events</h2>
        </div>
    </div>
    -->

    <!--
    <div class="row">


        <div class="col-md-6">
            <h4 style="color: purple;">Books Distribution:</h4>
            Registered and paid students will be given books as per the details below.<br />
            <span style="color: blueviolet">Location:</span> 3 Universal Ave Edison, NJ 08820.<br />
            <span style="color: blueviolet">Day/Time:</span> Sat 8/24 bet 1:30 - 4:30 pm<br />
            <mark> No automatic renewal of registration. Students from last year should re-register for 2019-20 academic year.</mark><br />
            Should you miss collecting the books on 8/24, another day will be announced as long as the books are in stock. Re-ordered books will be delivered after 4-6 weeks.
            <br />
        </div>
        <div class="col-md-6">
            <h4 style="color: purple;">Student Evaluation:</h4>
            New students assigned to "Evaluation" grade will be tested as per the details below.<br />
            <span style="color: blueviolet">Location:</span> Westergard Library, 20 Murray Ave Piscataway, NJ 08854<br />
            <span style="color: blueviolet">Day/Time:</span> Sat 8/17 bet 1:00 - 4:00 pm<br />
            Based on the evaluation outcome, they will be placed in grades according to age and language skills in reading/writing/speaking.
        </div>


    </div>
    -->


    <!--
    <div class="row">
        <div class="col-md-12">
            <h2>News</h2>
        </div>
        <div class="col-md-12">
            <img src="~/images/htc.png" class="small-icon pull-left img-responsive" />
            <h3>Our Support to HTC</h3>
            <p class="text-justify">
                Our School raised a fund of $21,792 to support Harvard Tamil Chair initative. CTA would be matching our contributions to this great efforts.<br />
            </p>
        </div>

        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/figDLqfWQjc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/BduV1Oku_H4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    -->
*@

@Html.Partial("_Index.Events.AnnualDay")

<br/><br />
@section scripts{
    <script>
             //$(window).on('load ', carouselNormalization("#ttsCarousel"));
    </script>
}