@{
    ViewBag.Title = "Home Page";
}
<br />

@Html.Partial("_Carousel")

<br /><br />
<!--
<div class="row">
    <div class="col-md-12">
        <img src="" alt="" style="width:100%; height:100%" />
    </div>
</div>
-->

<div class="row">
    <div class="col-md-4">
        <h2>Mission</h2>
        <img src="~/images/misson.png" class="med-icon pull-left img-responsive" />
        <p class="text-justify">
            Thiruvalluvar Tamil School was founded to create an interesting educational platform for children and young adults living in the Garden State of New Jersey to love and learn about Tamil - an ancient South Asian Language that has a great history & rich literature and the longest surviving traditional Culture. The students will learn to Read, Write and Converse the language through fun activities and games. With the help of the language, they will understand better and follow the culture by participating in dance, drama, music and any art form.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <img src="~/images/vision.jpeg" class="med-icon pull-left img-responsive img-circle" />
        <p class="text-justify">
            Making our children in USA to love and continue practicing Tamil, language and culture in their lives to get the best of both the eastern and western worlds and take pride in their heritage.<br />
            It’s quite ambitious to have our next generation to set the same goals passing on the fire of learning Tamil to their next generation and so on there by reviving Tamil.
        </p>
        <p class="text-left">
            அகரம் முதலாம் தமிழெனுந் தேன்<br />
            அடுத்த தலைமுறைக் கதுகொண்டு சேர்<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Notice Board</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/HappyNewYear.jpg" alt="Notice" class="small-icon" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="color: orangered; font-weight: bold">
                            <br/>
                            Happy New Year 2019!<br/>
                        </h4>
                    </div>
                </div>
            </div>

            <!--
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/welcomeback.jpg" alt="Notice" class="small-icon"/>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="color: blueviolet; font-weight: bold">
                            Edison Tamil School is now on Sunday 3PM - 4:30 PM at
                            J.P.Steven High School
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/location.jpg" alt="Notice" class="small-icon"/>
                    </div>
                    <div class="media-body">
                        <a href="@Url.Action("Contact", "Home", new {id = "Edison"})" title="Location Changed" style="color: purple; font-weight: bold">
                            <h4 class="media-heading" style="color: purple; font-weight: bold">
                                Edison Tamil School operates in J.P. Steven High School
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">

                        <a href="@Url.Action("Index", "Registration", null)" title="Registration">
                            <img src="~/images/registernow.jpg" alt="Register" class="small-icon"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="@Url.Action("Index", "Registration", null)" title="Registration" style="color: purple; font-weight: bold">
                                <i class="fa fa-bookmark fa-lg fa-red" aria-hidden="true"></i>
                                Enrollment for 2018-19 academic year is CLOSED<br/>
                            </a>
                        </h4>

                        <p class="text-left">
                            <span style="color:#007897"><b>TTS Edison</b></span> - Limited Enrollments accepted until 9/30. Call/Email before registering directly<br/>
                            <span style="color:#007897"><b>TTS Parsippany</b></span> - Accepting enrollments for all grades upto Grade 1
                        </p>

                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>2019 Kids Contest</h3>
    </div>
    <div class="col-md-4">
        <h4>Venue:</h4>
        <a href="https://goo.gl/maps/1Sh8ywPgju32" target="_map">Woodrow Wilson Middle School</a><br/>
        50 Woodrow Wilson Dr<br />
        Edison NJ 08820<br />
    </div>
    <div class="col-md-4">
        <h4>Instructions:</h4>
        <ul>
            <li>Last date of enrollment: 02/09/2019</li>
            <li>The schedule of competitions will be announced after the enrollment is closed.</li>
        </ul>
    </div>
    <div class="col-md-9">
        <br/>
        <table class="table table-condensed table-striped">
            <thead>
            <tr class="warning">
                <th>Category</th>
                <th>Ages</th>
                <th>Program</th>
                <th>Info</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>3-4</td>
                <td>Show And Tell</td>
                <td>
                    <a href="~/docs/pdfs/2019.KidsContest/2019_KidsContest_Level1.pdf" target="_instructions">
                        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                        Instructions
                    </a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>5</td>
                <td>Recital - Bharathiyar Aathichoodi</td>
                <td>
                    <a href="~/docs/pdfs/2019.KidsContest/2019_KidsContest_Level2.pdf" target="_instructions">
                        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                        Instructions
                    </a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>6</td>
                <td>Varthai Vilaiyattu</td>
                <td>
                    <a href="~/docs/pdfs/2019.KidsContest/2019_KidsContest_Level3.pdf" target="_instructions">
                        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                        Instructions
                    </a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>7-8</td>
                <td>Recital - Thirukural</td>
                <td>
                    <a href="" target="_instructions">
                        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                        Instructions - Coming Soon
                    </a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>9-10</td>
                <td>Recital - Thirukural with meaning</td>
                <td>
                    <a href="" target="_instructions">
                        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                        Instructions - Coming Soon
                    </a>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>11-12</td>
                <td>Speech</td>
                <td>
                    <a href="" target="_instructions">
                        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                        Instructions - Coming Soon
                    </a>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>13+</td>
                <td>Recital - Kavithai</td>
                <td>
                    <a href="" target="_instructions">
                        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i>
                        Instructions - Coming Soon
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>பொங்கல் கிராமியத் திருவிழா</h3>
    </div>
    <div class="col-md-6">
        <img src="~/images/events/NJTS_PongalBanner.jpg" alt="" style="width: 100%; height: 100%"/>
    </div>
    <div class="col-md-6">
        நியூசெர்சி ஒருங்கிணைந்த தமிழ்ப் பள்ளிகளின் பொங்கல் கிராமியத் திருவிழா, வரும் சனவரி மாதம் 19ம் தேதி, சனிக்கிழமை காலை 10மணி முதல் மாலை 6 மணி வரை நடக்க இருக்கிறது. நியூசெர்சியில் உள்ள தமிழ்ப் பள்ளிகளின் மாணவர்கள், ஆசிரியர்கள் கலந்து கொள்ளும் கிராமியக் கலைநிகழ்ச்சிகள், பறையிசை, மற்றும் பல மரபுக்கலைகள் சார்ந்த நிகழ்ச்சிகள் நடைபெற இருக்கின்றன.
        <br/><br/>
        குழந்தைகள், பெற்றோர்கள் பங்கேற்கும் பொங்கல் வைக்கும் நிகழ்வான "<b>பொங்கலோ பொங்கல்</b>" நிகழ்ச்சியும் நடைபெற உள்ளது.
        <br/><br/>
        திருவள்ளுவர் தின சிறப்பு நிகழ்ச்சியாக, தமிழ்ப் பள்ளி மாணவர்களின் <b>திருக்குறள் கண்காட்சி</b>யும் நடக்க இருக்கிறது.
        <br/><br/>
        இந்த நிகழ்ச்சிகளில் தமிழ்ப் பள்ளிகளைச் சாராத பொதுமக்களும் கலந்துக் கொள்ளலாம். எனவே உங்கள் நண்பர்களையும் விழாவுக்கு அழைத்து வரலாம்.
        <br/>
        <h3>அனுமதி இலவசம். அனைவரும் வருக.... </h3>
        மேலும் விவரங்களுக்கு <a href="https://sites.google.com/view/njtamilschools/" target="_blank">https://sites.google.com/view/njtamilschools/</a>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <h2>Edison School in NEW Location</h2>
    </div>
    <div class="col-md-8">
        <p class="text-justify">
            Moved to a bigger building facility with ample parking. This will help to accommodate  more number of students.<br /><br />
            NEW LOCATION is at<br />
            <h3 style="text-align:center">
                J.P. Stevens High School<br />
                855 Grove Ave,<br />
                Edison, NJ 08820
            </h3>
        </p>
</div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>News</h2>
    </div>
    <div class="col-md-12">
        <img src="~/images/htc.png" class="small-icon pull-left img-responsive" />
        <h3>Our Support to HTC</h3>
        <p class="text-justify">
            Our School raised a fund of $21,792 to support Harvard Tamil Chair initative. CTA would be matching our contributions to this great efforts.<br />
        </p>
    </div>
    <!--
    <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/figDLqfWQjc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/BduV1Oku_H4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
</div>

@section scripts{
    <script>
        //$(window).on('load ', carouselNormalization("#ttsCarousel"));
    </script>
}