@{
    ViewBag.Title = "Home Page";
}

<br />

@Html.Partial("_Carousel")

<div class="row">
    <div class="col-md-4">
        <h2>Mission</h2>
        <img src="~/images/misson.png" class="med-icon pull-left img-responsive"  />
        <p class="text-justify">
            Thiruvalluvar Tamil School was founded to create an interesting educational platform for children and young adults living in the Garden State of New Jersey to love and learn about Tamil - an ancient South Indian Language that has a great history & rich literature and the longest surviving traditional Culture. The students will learn to Read, Write and Converse the language through fun activities and games. With the help of the language, they will understand better and follow the culture by participating in dance, drama, music and any art form.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <img src="~/images/vision.jpeg" class="med-icon pull-left img-responsive img-circle" />
        <p class="text-justify">
            Making our children in USA to love and continue practicing Tamil, language and culture in their lives to get the best of both the eastern and western worlds and take pride in their heritage.<br />
            It’s quite ambitious to have our next generation to set the same goals passing on the fire of learning Tamil to their next generation and so on there by reviving Tamil.
        </p>
        <p class="text-left">
            அகரம் முதலாம் தமிழெனுந் தேன்<br />
            அடுத்த தலைமுறைக் கதுகொண்டு சேர்<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Notice Board</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("Index", "Registration", null)">
                            <img src="~/images/registernow.jpg" alt="Register Now" class="small-icon" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="@Url.Action("Index", "Registration", null)" style="color:#ff0000">
                                Registration Now Open <i class="fa fa-bookmark fa-lg fa-red" aria-hidden="true"></i></a>
                        </h4>
                        <p class="text-justify">
                            Registration is OPEN for the current academic year 2017-18 !!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/welcomeback.jpg" alt="Welcome Back" class="small-icon" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Welcome back to School!</h4>
                        <p class="text-justify text-small">
                            School Starts On Sat 09/09/2017 - Edison<br />
                            School Starts On Sun 9/17/2017 - Parsippany
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>News</h2>
    </div>
    <div class="col-md-12">
        <img src="~/images/htc.png" class="small-icon pull-left img-responsive" />
        <h3>Our Support to HTC</h3>
        <p class="text-justify">
            Our School raised a fund of $20,091 to support Harvard Tamil Chair initative. CTA would be matching our contributions to this great efforts.<br />
        </p>
    </div>
    <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/figDLqfWQjc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/BduV1Oku_H4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>