@{
    ViewBag.Title = "Home Page";
}

<br />

@Html.Partial("_Carousel")

<div class="row">
    <div class="col-md-4">
        <h2>Mission</h2>
        <img src="~/images/misson.png" class="med-icon pull-left img-responsive" />
        <p class="text-justify">
            Thiruvalluvar Tamil School was founded to create an interesting educational platform for children and young adults living in the Garden State of New Jersey to love and learn about Tamil - an ancient South Asian Language that has a great history & rich literature and the longest surviving traditional Culture. The students will learn to Read, Write and Converse the language through fun activities and games. With the help of the language, they will understand better and follow the culture by participating in dance, drama, music and any art form.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <img src="~/images/vision.jpeg" class="med-icon pull-left img-responsive img-circle" />
        <p class="text-justify">
            Making our children in USA to love and continue practicing Tamil, language and culture in their lives to get the best of both the eastern and western worlds and take pride in their heritage.<br />
            It’s quite ambitious to have our next generation to set the same goals passing on the fire of learning Tamil to their next generation and so on there by reviving Tamil.
        </p>
        <p class="text-left">
            அகரம் முதலாம் தமிழெனுந் தேன்<br />
            அடுத்த தலைமுறைக் கதுகொண்டு சேர்<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Notice Board</h2>
        <div class="row">
            <!--
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/annualDay.jpg" alt="Annual Day" class="small-icon"/>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="color: blue">8th Annual Day</h4>
                        <!-- 8-வது ஆண்டு விழா --/>
                        <h4 class="media-heading">May-12 9 AM - 6:30 PM</h4>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/funDay.jpg" alt="Annual Day" class="small-icon"/>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="color: blue">Summer Picnic 2018</h4>
                        <!-- வேனில் விழா --/>
                        <h4 class="media-heading">May-26 12 PM - 6 PM</h4>
                        <br/>
                    </div>
                </div>
            </div>
            -->
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <img src="~/images/graduationDay01.jpg" alt="Graduation Day" class="small-icon"/>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="color: blue">Graduation Day 2018</h4>
                        <!-- பட்டமளிப்பு நாள் -->
                        <h4 class="media-heading">Jun-16</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
    </div>
    <div class="col-md-6 col-lg-offset-3">
        <h4>Graduation Day</h4>
        <img src="/images/Flyer_Graduation_2018.jpg" alt="Graduation Day" style="width:100%; height:100%" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>News</h2>
    </div>
    <div class="col-md-12">
        <img src="~/images/htc.png" class="small-icon pull-left img-responsive" />
        <h3>Our Support to HTC</h3>
        <p class="text-justify">
            Our School raised a fund of $21,792 to support Harvard Tamil Chair initative. CTA would be matching our contributions to this great efforts.<br />
        </p>
    </div>
    <!--
    <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/figDLqfWQjc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/BduV1Oku_H4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
</div>

@section scripts{
    <script>
                //$(window).on('load ', carouselNormalization("#ttsCarousel"));
    </script>
}