@{
    ViewBag.Title = "Our Team";
}

<h2>Meet Our Team</h2>
<br />

<div class="row">
    <div class="col-md-3">
        <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li class="text-center"><b>TEAM</b></li>
            <li class="active"><a href="#adminstrators" data-toggle="tab">Adminstrators</a></li>
            <li><a href="#teachers" data-toggle="tab">Teachers ( 2016-17)</a></li>
            <li><a href="#attOfficer" data-toggle="tab">Attendance Officers</a></li>

            <!--
                
            
            <li><a href="#bookOfficer" data-toggle="tab">Book Officers</a></li>
            <li><a href="#cocurricular" data-toggle="tab">Co-Curricular</a></li>
            <li><a href="#cultural" data-toggle="tab">Cultural</a></li>
            <li><a href="#library" data-toggle="tab">Library</a></li>
            <li><a href="#marketing" data-toggle="tab">Marketing</a></li>
            <li><a href="#media" data-toggle="tab">Media</a></li>
            <li><a href="#technology" data-toggle="tab">Technology</a></li>
            <li><a href="#graphics" data-toggle="tab">Graphics</a></li>
            <li><a href="#website" data-toggle="tab">Website</a></li>

            <li><a href="#hospitality" data-toggle="tab">Hospitality</a></li>
            <li><a href="#yearbook" data-toggle="tab">Year Book</a></li>
            <li><a href="#newsletter" data-toggle="tab">News Letter</a></li>

            -->
        </ul>
    </div>
    <div class="col-md-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="adminstrators">
                <br/>
                <h4>Adminstrators</h4>
                <br />
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="thumbnail">
                            <!-- img class="img-responsive" src="#" alt="" -->
                            <div class="caption">
                                <h4>
                                    Shanthi Thangaraj<br>
                                    <small>Principal</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="thumbnail">
                            <!-- img class="img-responsive" src="#" alt="" -->
                            <div class="caption">
                                <h4>
                                    Lakshmi Sundarrajan<br>
                                    <small>Vice Principal</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="#" alt="">
                            <div class="caption">
                                <h4>
                                    Senthilnathan Muthusamy<br>
                                    <small>Treasurer</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="teachers">
                <br/>
                <h4>Full-Time teachers for the year 2016-2017</h4>
                <br/>
                <div class="row row-striped">
                    <div class="col-md-4">Anand Tamilarasan</div>
                    <div class="col-md-4">Anitha Subash</div>
                    <div class="col-md-4">Annamalai Shankar</div>
                    <div class="col-md-4">Annie Jeyarayan</div>
                    <div class="col-md-4">Balaji Hariharasundar</div>
                    <div class="col-md-4">Balamurugan Danasekaran</div>
                    <div class="col-md-4">Baskaran Loganathan</div>
                    <div class="col-md-4">Caroline Sebasti</div>
                    <div class="col-md-4">Chandrakumar Muthiah</div>
                    <div class="col-md-4">Dhatchayini Karthik</div>
                    <div class="col-md-4">Elango Chidambaram</div>
                    <div class="col-md-4">Gayathiri Rangaswamy</div>
                    <div class="col-md-4">Guru Ragavendran</div>
                    <div class="col-md-4">Gurubaran Veeravel</div>
                    <div class="col-md-4">Indhra Kannan</div>
                    <div class="col-md-4">Jayalakshmi Kamalak</div>
                    <div class="col-md-4">Jayashree Subramanian</div>
                    <div class="col-md-4">Jayasree</div>
                    <div class="col-md-4">Jeyapriya Jawa</div>
                    <div class="col-md-4">Joseph Selvaraj</div>
                    <div class="col-md-4">Kanimozhi MV</div>
                    <div class="col-md-4">Karuppiah Ganesan</div>
                    <div class="col-md-4">Kathiravan Loganathan</div>
                    <div class="col-md-4">Kavithadevi Navaladi</div>
                    <div class="col-md-4">Kosalram Kuppusami</div>
                    <div class="col-md-4">Lekha Sreenivasan</div>
                    <div class="col-md-4">Loganayaki Kumar</div>
                    <div class="col-md-4">Macdalin Selvanathan</div>
                    <div class="col-md-4">Madhavi</div>
                    <div class="col-md-4">Maharajan Raj</div>
                    <div class="col-md-4">Meena Muthuraman</div>
                    <div class="col-md-4">Megala Kumar</div>
                    <div class="col-md-4">Mohamed Asif</div>
                    <div class="col-md-4">Murugappan Palania</div>
                    <div class="col-md-4">Nithya Velusamy</div>
                    <div class="col-md-4">Oogandavalli Kaleswar</div>
                    <div class="col-md-4">Padhmashree Justin</div>
                    <div class="col-md-4">Parthiban Sundaram</div>
                    <div class="col-md-4">Prasanna Rao</div>
                    <div class="col-md-4">Preethi Rajkumar</div>
                    <div class="col-md-4">Radha Kumar</div>
                    <div class="col-md-4">Rajaskearan Ramas</div>
                    <div class="col-md-4">Rajesh Panneerselvam</div>
                    <div class="col-md-4">Sakthivel Pichaimani</div>
                    <div class="col-md-4">Sankaranarayanan Arumugave</div>
                    <div class="col-md-4">Satya Paul</div>
                    <div class="col-md-4">Selvakumar Arumu</div>
                    <div class="col-md-4">Shanmugam Shenbagam</div>
                    <div class="col-md-4">Sharmila Gopinathan</div>
                    <div class="col-md-4">Sobana Seshadri</div>
                    <div class="col-md-4">Sowmya Balasubramania</div>
                    <div class="col-md-4">Sridevi Kelamathur</div>
                    <div class="col-md-4">Sridhar Kumaravelu</div>
                    <div class="col-md-4">Srilakshmi Premkumar</div>
                    <div class="col-md-4">Subramanian Angappan</div>
                    <div class="col-md-4">Swetha Sriram </div>
                    <div class="col-md-4">Thahira </div>
                    <div class="col-md-4">Usha Kandasamy</div>
                    <div class="col-md-4">Velmani Natarajan</div>
                    <div class="col-md-4">Venkatachalam Rajagopal</div>
                    <div class="col-md-4">Venkatesan Packiriswamy</div>
                    <div class="col-md-4">Vinayagam Ramalingam</div>
                    <div class="col-md-4">Visalakshi Nagarajan</div>
                    <div class="col-md-4">Yasodha Krishnaraj</div>
                    <div class="col-md-4">&nbsp;</div>
                    <div class="col-md-4">&nbsp;</div>
                </div>
                <br />
                <h4>Part time teachers for the year 2016-2017</h4>
                <br />
                <div class="row row-striped">
                    <div class="col-md-4">Aishwarya</div>
                    <div class="col-md-4">Kothai Perumal</div>
                    <div class="col-md-4">Mathi Deivanayagam</div>
                    <div class="col-md-4">Mythili Madhavan</div>
                    <div class="col-md-4">Perazhagan</div>
                    <div class="col-md-4">Sathish Kumar</div>
                    <div class="col-md-4">Senthilnayaki Selvakumar</div>
                    <div class="col-md-4">Sudha Vinodh</div>
                    <div class="col-md-4">Visalatchi Karuppiah</div>
                </div>
            </div>


            <div class="tab-pane" id="attOfficer">
                <br />
                <h4>Attendance Officers</h4>
                <br />
                <div class="row row-striped">
                    <div class="col-md-4">Elangovan Soundarajan</div>
                    <div class="col-md-4">Kaleesvaran</div>
                    <div class="col-md-4">Karthik Kaveriselvan</div>
                    <div class="col-md-4">Krishnakumar</div>
                    <div class="col-md-4">&nbsp;</div>
                    <div class="col-md-4">&nbsp;</div>
                </div>
            </div>
            
            <div class="tab-pane" id="bookOfficer">
                <br />
                <h4>Book Officers</h4>
                <br />
                <div class="row row-striped">
                    <div class="col-md-6">Kaleesvaran</div>
                    <div class="col-md-6">Karthik Kaveriselvan</div>
                </div>
            </div>


            <div class="tab-pane" id="cocurricular">
                <br />
                <h4>Co-Curricular Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Lakshmi Sundarrajan</div>
                    <div class="col-md-4">Guru Ragavendran</div>
                    <div class="col-md-4">Elango Chidambaram</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Bhuvaneswari Rajendran</div>
                    <div class="col-md-4">Caroline Sebasti</div>
                    <div class="col-md-4">Kiru</div>
                    <div class="col-md-4">Mathi</div>
                    <div class="col-md-4">Meenakshi Rajasekaran</div>
                    <div class="col-md-4">Mythili Sridhar</div>
                    <div class="col-md-4">Praburaj</div>
                    <div class="col-md-4">Radhika Satheesh</div>
                    <div class="col-md-4">Revathi Sankar</div>
                    <div class="col-md-4">Sangeetha Venkatesan</div>
                    <div class="col-md-4">Saravanakumar</div>
                    <div class="col-md-4">Shankar Mohanakrishnan</div>
                    <div class="col-md-4">Sridevi</div>
                    <div class="col-md-4">Sudha Vinodh</div>
                    <div class="col-md-4">Vidhya Subramanian</div>
                </div>
            </div>

            <div class="tab-pane" id="cultural">
                <br />
                <h4>Cultural Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Kala Ramarathnam</div>
                    <div class="col-md-4">Srilakshmi Premkumar</div>
                    <div class="col-md-4">Vishnupriya</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Caroline Sebasti</div>
                    <div class="col-md-4">Kanimozhi</div>
                    <div class="col-md-4">Kanimozhi M.V</div>
                    <div class="col-md-4">Lekha</div>
                    <div class="col-md-4">Madhavi</div>
                    <div class="col-md-4">Mathi</div>
                    <div class="col-md-4">Meenakshi Rajasekaran</div>
                    <div class="col-md-4">Muthiah</div>
                    <div class="col-md-4">Oogandhavalli Srinivas</div>
                    <div class="col-md-4">Radhika Satheesh</div>
                    <div class="col-md-4">Rajeshkumar Viswanathan</div>
                    <div class="col-md-4">Rajkumar Murugesan</div>
                    <div class="col-md-4">Ravi Madhavan</div>
                    <div class="col-md-4">Sangeetha Venkatesan</div>
                    <div class="col-md-4">Saravanakumar</div>
                    <div class="col-md-4">Senthilnayaki Selvakuar</div>
                    <div class="col-md-4">Shankar Mohanakrishnan</div>
                    <div class="col-md-4">Sudha Vinodh</div>
                    <div class="col-md-4">Vidhya Subramanian</div>
                </div>
            </div>

            <div class="tab-pane" id="library">
                <br />
                <h4>Library Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Balaji Maniwakkam</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Lekha</div>
                    <div class="col-md-4">Mathi</div>
                    <div class="col-md-4">Sangeetha Venkatesan</div>
                    <div class="col-md-4">Saravanakumar</div>
                    <div class="col-md-4">Sridevi</div>
                    <div class="col-md-4">Sudha Vinodh</div>
                </div>
            </div>

            <div class="tab-pane" id="marketing">
                <br />
                <h4>Marketing Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Muthiah</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Karthik Kaveriselvan</div>
                    <div class="col-md-4">Manivannan</div>
                    <div class="col-md-4">Saravanakumar</div>
                    <div class="col-md-4">Sathish Kumar</div>
                    <div class="col-md-4">Sathish Rajamani</div>
                </div>
            </div>

            <div class="tab-pane" id="media">
                <br />
                <h4>Media ( Photos ) Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Saravanan</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Ravi Madhavan</div>
                    <div class="col-md-4">Sathish Kumar</div>
                    <div class="col-md-4">Sridhar Kumaravelu</div>
                    <div class="col-md-4">Vijay</div>
                </div>
                <br />
                <h4>Media ( Videos ) Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Rajesh Panneerselvam</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Manivannan</div>
                    <div class="col-md-4">Perazhagan</div>
                    <div class="col-md-4">Ravi Madhavan</div>
                </div>
                <br />
                <h4>Media ( Press ) Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Parthiban Sundaram</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Kanimozhi M.V</div>
                    <div class="col-md-4">Shanthi Thangaraj</div>
                </div>
            </div>

            <div class="tab-pane" id="technology">
                <br />
                <h4>Technology Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Elangovan</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Vijay</div>
                    <div class="col-md-4">Manivannan</div>
                    <div class="col-md-4">Ravi Madhavan</div>
                </div>
            </div>

            <div class="tab-pane" id="graphics">
                <br />
                <h4>Graphics Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Karthik Kaveriselvan</div>
                </div>
            </div>
            
            <div class="tab-pane" id="website">
                <br />
                <h4>Website Team</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Karuppiah Ganesan</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Karthik Kaveriselvan</div>
                    <div class="col-md-4">Saravanan</div>
                    <div class="col-md-4">Shanthi Thangaraj</div>
                </div>
            </div>


            <div class="tab-pane" id="hospitality">
                <br />
                <h4>Hospitality Committee</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Muthuraja Pillai</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Bharanidharan</div>
                    <div class="col-md-4">Lakshmi Sundarrajan</div>
                    <div class="col-md-4">Rajeshkumar Viswanathan</div>
                    <div class="col-md-4">Saravana Moorthy</div>
                    <div class="col-md-4">Senthilnathan Muthusamy</div>
                    <div class="col-md-4">Shanthi Thangaraj</div>
                    <div class="col-md-4">Vijay</div>
                    
                </div>
            </div>

            <div class="tab-pane" id="yearbook">
                <br />
                <h4>Year Book Committee</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Parthiban Sundaram</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Ravi Madhavan</div>
                    <div class="col-md-4">Sudha Vinodh</div>
                    <div class="col-md-4">Kanimozhi M.V</div>
                </div>
            </div>

            <div class="tab-pane" id="newsletter">
                <br />
                <h4>News Letter Committee</h4>
                <br />
                <div class="row row-highlight">
                    <div class="col-md-4">Sudha Vinodh</div>
                </div>
                <div class="row row-striped">
                    <div class="col-md-4">Kanimozhi M.V</div>
                    <div class="col-md-4">Ravi Madhavan</div>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>

