@{
    ViewBag.Title = "Videos";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <iframe width="100%" height="275" src="https://www.youtube.com/embed/BduV1Oku_H4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <h3>Donate to Harvard Tamil Chair</h3>
        <p>Tamil School Kid talking about the importance of Harvard Tamil Chair and pitching for the donations.</p>
    </div>
    <div class="col-md-4">
        <iframe width="100%" height="275" src="https://www.youtube.com/embed/figDLqfWQjc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <h3>About Harvard Tamil Chair</h3>
        <p>Tamil School Kids discussing about Harvard Tamil Chair during our 2016 Annual day.</p>
    </div>
    <div class="col-md-4">
        <iframe width="100%" height="275" src="https://www.youtube.com/embed/Z8ZxrAt_N3A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <h3>Tamil School Volunteers Appreciation</h3>
        <p>Federation of Tamil Sangams of North America - FeTNA and New Jersey Tamil Sangam - NJTS honored all the Tamil teachers and volunteers during FeTNA 2016 event. meaningful lyrics(below) written by Muthusamy Senthilnathan</p>
    </div>
</div>